$color-gradient: linear-gradient(144.44deg, rgb(218, 169, 119) -54.241%,rgb(227, 179, 115) -27.139%,rgb(254, 224, 183) 1.657%,rgb(254, 229, 197) 25.372%,rgb(222, 167, 96) 54.168%,rgb(195, 132, 62) 84.658%,rgb(175, 107, 31) 115.148%);
$color-white: rgb(255, 255, 255);
$color-green: rgb(168, 175, 156);
$color-gold: #E89D51;
$color-black: rgb(0, 0, 0);